p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: black;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color: darkslategray;
}